@font-face {
    font-family: myfont;
    src: url(Cyberpunk.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

header{
    position: sticky;
    top:0;
    z-index: 100;
}

.sale{
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:monospace;
    background-color:rgb(245, 245, 245);
    font-size: 10px;
}

.sale span{
    font-size: small;
    position: relative;
    left:  20px;
    text-decoration: underline;
}

.sale span:hover{
    text-decoration-thickness: 15%;
    cursor: pointer;
}

.container{
    width: 100vw;
    height: 94vh;
    background-image: url("background-1.jpg");
    background-size:cover;
    background-position: center;
    overflow: hidden;
}

.container span{
    position: absolute;
    bottom: 33%;
    left:10%;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    font-family: myfont;
}
.container p{
    position: absolute;
    bottom: 25%;
    left:10%;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    font-family: myfont;
}

.container button{
    position: absolute;
    bottom: 18%;
    left:10%;
    background-color: whitesmoke;
    color: black;
}

.mobile button{
    display: none;
}

nav{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: auto;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}
nav ul li{
    font-size: x-small;
    padding: 5px;
    border-radius: 5px;
}

nav ul li:hover{
    transform: scale(1.1);
    cursor: pointer;
}

nav svg{
    position: absolute;
    margin-top: 5px;
    left: 70px;
    width: 8%;
}


.box{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.box1{
    position: relative;
    margin-top: 30px;
    width: 90vw;
    height: 90vh;
    display: flex;
    overflow: hidden;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.buttons{
    position: absolute; 
    bottom: 3%;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    column-gap: 15px; 
    z-index: 10;
}

button{
    background-color: #1F75FE;
    border-radius: 5px;
    font-size: small;
    padding: 5px 50px;
    color: white;
    border: none;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.box1>span{
    position: absolute;
    z-index: 100;
    top: 10%;
    font-size: xx-large;
    font-weight: 700;
    color: white;
    cursor: pointer;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.box2{
    width: 90vw;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}  

.can{
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    position: relative; 
    margin-top: 30px; 
    height: 450px; 
    overflow: hidden; 
    align-items: center; 
}

.can img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    
}

.can>span{
    position: absolute;
    z-index: 100;
    top: 10%;
    font-size: xx-large;
    font-weight: 700;
    color: white;
    cursor: pointer;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.box2 button{
    padding: 5px 20px;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 9px;
    width: 30vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: auto; 
    margin-right: auto; 

}

footer ul{
    margin-top: 30px;
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: bold;
    color: grey;
    justify-content: center;
}


footer ul li {
    white-space: nowrap; 
}

@media (max-width: 650px) {
    .sale{
        font-size: 6px; 
    }

    .container span,
    .container p{
        font-size: 24px; 
    }

    .container button{
        padding: 5px 10px; 
        font-size: x-small; 
    }

    nav ul{
        display: none;
    }

    nav ul li{
        font-size: xx-small; 
        padding: 3px; 
    }

    nav svg{
        left: 15px;
        width: 30%;
        position: absolute;
        margin-top: 20px;
        padding: 20px;
    }

    .mobile button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 6.5%;
        left: 85%;
        background-color: rgb(225, 220, 220);
        color: black;
        z-index: 1000;
        width: 12%;  
        height: 3%; 
        font-size: 14px; 
    }

    .box1{
        height: 50vh; 
    }

    .buttons{
        bottom: 10%; 
        column-gap: 5px; 
    }

    button {
        padding: 5px 10px; 
    }

    .box1 > span,.can > span{
        font-size: large; 
    }

    .box2{
        grid-template-columns: 1fr; 
        row-gap: 10px; 
    }

    .can{
        height: 250px; 
    }

    footer{
        font-size: 7px; 
        width: 90vw; 
    }

    footer ul{
        
        gap: 5px;
    }
}